@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa300;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

/* carousel styling */
.carousel .thumbs {
  display: flex;
  justify-content: center;
}

.itemSlide ul.slider {
  gap: 10px;
}

@media screen and (min-width: 640px) {
  .itemSlide ul.slider {
    gap: 20px;
  }
}

.carousel .slide .legend {
  bottom: 15px !important;
  padding: 0 !important;
  font-size: 14px !important;
}

/* control arrow styling */
.testimonials .control-arrow {
  background: none !important;
}

.control-next.control-arrow:before {
  border-left: 12px solid #fff !important;
  border-left-color: #ffa300 !important;
}

.control-prev.control-arrow:before {
  border-right: 12px solid #fff !important;
  border-right-color: #ffa300 !important;
}

.testimonials .control-arrow:before {
  border-top: 12px solid transparent !important;
  border-bottom: 12px solid transparent !important;
}